*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: buttermilk;
    src: url();
}
.container{
    background-image: url(./images/bg1.jpg);
    background-size: cover;
    
    border: 10px solid #030303;

}
.content{
     max-width: 900px;
     margin: 0 auto;
}
 img{
    width: 250px;
    height: 320px;
    margin-top: 50px;
    border-radius: 40%;
}
section{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.about{
    margin-top: 60px;
}
.about p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: justify;
}
.bio{
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 15px;
}
.bio ul{
    letter-spacing: 1px;
    margin-top:20px ;
    line-height: 30px;
    margin-left: 50px;
    

}
footer{
    margin: 50px;
    text-align: end;
    height: 50px;
   top:;
}
.footerContainer{
    text-align:start;
    justify-content: end;
    
}
.footerContainer a{
    text-decoration: none;
    padding: 10px;
    background-color: #7fef0e;
    margin: 10px;
    border-radius: 10px;
    
}
.footerContainer a i{
    font-size: 2em;
    color: #000;
    opacity: 0.9;
}
.footerContainer a:hover{
    background-color: #fefbfb;
    transition: 0.5s;
}
